<h2>Show Source</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @source.url %>
  </li>

</ul>

<span><%= link "Edit", to: source_path(@conn, :edit, @source) %></span>
<span><%= link "Back", to: source_path(@conn, :index) %></span>
