<h2>Show Playlist</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @playlist.name %>
  </li>

</ul>

<span><%= link "Edit", to: playlist_path(@conn, :edit, @playlist) %></span>
<span><%= link "Back", to: playlist_path(@conn, :index) %></span>
